/* Small */
@media screen and (min-width: 200px) {
  .burger-menu {
    display: block;
  }
  html {
    font-size: 9px;
  }
  .desk-nav {
    display: none;
  }
  main #news {
    padding: 0;
  }
  .background {
    background-color: #4f2d7fd8;
    background-blend-mode: multiply;
    background-size: 300px;
  }
  #service-breadcrumb .service-title {
    font-size: 3.2rem;
    letter-spacing: 3px;
    color: #fff;
  }
  .breadcrumb--text {
    font-size: 4.5rem;
  }
  .pos-rel .swiper-title h1 {
    font-size: 4.2rem;
  }
  .pos-rel .swiper-title p {
    font-size: 2rem;
  }
  main #card-slider .swiper-custom-button-prev {
    left: 30%;
  }
  main #card-slider .swiper-custom-button-next {
    left: 61%;
  }

  .firm-image {
    height: 100vh;
  }
  main #info-firm .link-item {
    padding: 20px 0 20px 20px;
  }
  .desk-footer {
    display: none;
  }
  .mobile-footer {
    display: block;
  }
  .clients-wrapper {
    grid-template-columns: repeat(3, minmax(30px, 150px));
  }
  .team-card {
    min-height: 496px;
  }
  #form-contact .input-group {
    width: 100%;
  }
  #map-location .map-text {
    font-size: 18px;
  }
  #map-location .map-contact-info {
    font-size: 18px;
  }
  footer .social-icons {
    order: -1;
    font-size: 4rem;
  }
  .breadcrumb--text {
    font-size: 2.5rem;
    padding-top: 30px;
  }
  #service-panel .main-card {
    height: 177px;
  }
}
/* Medium */
@media screen and (min-width: 576px) {
}
@media screen and (max-width: 576px) {
  .mobile-fs-2 {
    font-size: 2rem;
  }
  .f-direction-column {
    flex-direction: column;
  }
  header .image-wrapper img {
    width: 95px;
  }
  header .top-header {
    height: 60px;
  }
}

/* Small - Medium */
@media screen and (min-width: 768px) {
  .desk-footer {
    display: flex;
  }
  .mobile-footer {
    display: none;
  }
  footer .social-icons {
    order: 0;
  }

  .f-direction-row {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .mobile {
    flex-direction: row;
  }
  .mobile-2 {
    flex-direction: column;
  }
  .fs-40 {
    font-size: 30px;
  }
  .ml-40 {
    margin: 0 20px;
  }
  header .menu .wrapper a {
    font-size: 2rem !important;
  }
  .side-card-social {
    margin: 0 !important;
    flex-basis: 100%;
  }
  #service-panel .service-card-container {
    margin-left: 0 !important;
  }
  .career-social {
    margin-top: 30px;
  }
  .mobile-position {
    flex-direction: column;
  }
  .mobile-position {
    font-size: 2.6rem;
  }
  .mobile-position .btn-cont {
    margin-top: 20px;
  }
  #careers {
    padding: 0 !important;
  }
  .mobile-acc {
    margin: 45px 0;
    text-align: center;
  }
}

/* Large */
@media screen and (min-width: 992px) {
  .burger-menu {
    display: none;
  }
  html {
    font-size: 9px;
  }
  .clients-wrapper {
    grid-template-columns: repeat(5, minmax(20px, 150px));
  }
  .desk-nav {
    display: flex;
  }
  .breadcrumb--text {
    font-size: 8rem;
  }
  .background {
    background-color: transparent;
    background-blend-mode: none;
    background-size: 600px;
  }
  #service-breadcrumb .service-title {
    font-size: 4.8rem;
    letter-spacing: 3px;
    color: var(--primary);
  }
  #form-contact .input-group {
    width: 200px;
  }
  footer .social-icons {
    font-size: 5rem;
  }
  main #info-firm .firm-image .text-wrapper {
    right: 167px;
  }
  #service-panel .main-card {
    height: 280px;
  }
}
@media (max-width: 992px) {
  .hamburger {
    position: absolute;
    right: 25px;
    bottom: 37%;
    display: block;
  }
  .mobile-menu nav {
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  .mobile-menu nav a {
    padding-top: 30px;
  }
  main #info-firm .firm-image .text-wrapper a {
    font-size: 3rem;
  }
  .related-articles {
    padding-left: 0;
  }
  #form-contact textarea {
    width: 100%;
  }
  .h-100v {
    height: 100%;
  }
  main #experience .exp-cont .title {
    margin-top: 30px;
  }
  main #inside-breadcrumb {
    height: 400px;
  }
  .textarea-label {
    left: 8px;
  }
  .pl-80 {
    padding-left: 10px;
  }
}
@media screen and (max-width: 1100px) {
  main #info-firm .firm-image .firm-title {
    position: static;
  }
  main #info-firm .firm-image .text-wrapper {
    position: static;
  }
}
/* Extra Large  */
@media screen and (min-width: 1200px) {
  #map-location .map-contact-info {
    font-size: 18px;
  }
  #map-location .map-text {
    font-size: 18px;
  }
  #form-contact .input-group {
    width: 220px;
    height: 42px;
  }
  html {
    font-size: 10px;
  }
  main #news {
    padding: 80px;
  }
  .px-50 {
    padding: 0;
  }
  .pos-rel .swiper-title {
    padding-left: 20px;
  }
  .pos-rel .swiper-title h1 {
    font-size: 4.8rem;
  }
  .pos-rel .swiper-title p {
    font-size: 2rem;
  }
  .team-card {
    min-height: 619px;
  }
  main #card-slider .swiper-custom-button-prev {
    left: 43%;
  }
  main #card-slider .swiper-custom-button-next {
    left: 51%;
  }
  .firm-image {
    height: auto;
  }
  main #info-firm .link-item {
    padding: 20px 0 20px 100px;
  }
  main #info-firm .firm-image .firm-title {
    position: absolute;
    top: 236px;
    right: 220px;
    color: #001219;
  }
  main #info-firm .firm-image .text-wrapper {
    position: absolute;
    right: 154px;
    bottom: 98px;
    z-index: 5;
    color: #001219;
  }
}
/* XX Large  */
@media screen and (min-width: 1400px) {
  #form-contact .input-group {
    width: 220px;
  }
  main #news {
    padding: 100px;
  }
  main #info-firm .firm-image .firm-title {
    position: absolute;
    top: 236px;
    right: 340px;
    color: #001219;
  }
  main #info-firm .firm-image .text-wrapper {
    position: absolute;
    right: 155px;
    bottom: 98px;
    z-index: 5;
    color: #001219;
  }
}
@media screen and (min-width: 1400px) {
  /* .mobile-mt {
    margin-top: 54px;
  } */
}
@media screen and (min-width: 1500px) {
  main #news {
    padding: 100px;
  }
  main #info-firm .firm-image .firm-title {
    position: absolute;
    top: 150px;
    right: 361px;
    color: #001219;
  }
  main #info-firm .firm-image .text-wrapper {
    position: absolute;
    right: 283px;
    bottom: 98px;
    z-index: 5;
    color: #001219;
  }
  /* .mobile-mt {
    margin-top: 0;
  } */
}
@media screen and (min-width: 280px) and (max-width: 993px) {
  /* .breadcrumb--title {
    top: 150px;
  } */
}
